<ion-content>
  <ion-toolbar slot="fixed">
    <ion-title style="text-align:center">Profile</ion-title>
  </ion-toolbar>
  <div class="content">
    
    <div class="container">
      <ion-card *ngFor="let item of selections; let i=index" [style.background-color]="randomColor(i)" (click)="takeToPage(item.route)">
        <ion-card-header class="card-header">
          <ion-icon [name]="item.icon"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-label>{{item.name}}</ion-label>
        </ion-card-content>
      </ion-card>
    </div>
    
  </div>

</ion-content>
