h1{
    font-size: 35px;
    font-weight: bold;
}

.content{
    margin-top: 65px;
}


ion-icon{
    margin-left: 10px;
    margin-right: 20px;
    transform: translateY(12px);
    color: white;
}

ion-card{
    box-shadow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;

    .card-header{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(3px);
        margin: auto;
    }
    ion-card-content{
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:15px;
        color: white;
    }
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: -12px;
}

@media screen and (max-width:320px){
    ion-card{
        width: 9rem;
        height: 7.5rem;
        margin-top: 0;
    }
}



@media screen and (min-width:375px) {
    ion-card{
        width: 91%;
        height: 10.5rem;
    }
    
}

@media screen and (min-width:750px) {
    ion-card{
        width: 92%;
        height: 12rem;
    }
    
}


